mixin head(styles = [])
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    title Paradigma template

    //- Meta
    meta(name="description" content="template")
    meta(name="keywords" content="template")
    meta(name="robots" content="index, follow")

    link(rel="icon" href="./static/favicon.ico")
    link(rel="icon" type="image/png" sizes="96x96" href="./static/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="192x192" href="./static/web-app-manifest-192x192.png")
    link(rel="icon" type="image/png" sizes="512x512" href="./static/web-app-manifest-512x512.png")
    link(rel="icon" type="image/svg+xml" href="./static/favicon.svg")
    link(rel="icon" sizes="120x120" href="img/fav120.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png")
    link(rel="manifest" href="./static/manifest.json")
    //- link(rel="shortcut icon" type="image/png" href="./assets/img/icon.png")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet")
    link(rel="stylesheet", href=`./assets/css/main.css`)
    
    each style in styles
        link(rel="stylesheet", href=`./assets/css/${style}.css`)