include ./head.pug


include ../pug/components/header/header.pug
include ../pug/components/selector/selector.pug
include ../pug/components/hero/hero.pug
include ../pug/components/features/features.pug
include ../pug/components/production-card/production-card.pug
include ../pug/components/certificates/certificates.pug


include ../pug/pages/home/home-bathhouse/home-bathhouse.pug
include ../pug/pages/home/home-productions/home-productions.pug
include ../pug/pages/home/home-special-offers/home-special-offers.pug
include ../pug/pages/home/home-about/home-about.pug
include ../pug/pages/home/home-directions/home-directions.pug
include ../pug/pages/home/home-team/home-team.pug