mixin home-about()
    .home-about
        .home-about__inner.container
            .home-about__preview 
                <svg width="189" height="36" viewBox="0 0 189 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8509 10.4767H7.65223C6.75753 10.4767 5.90155 10.6401 5.10148 10.9197V2.82445C5.10148 1.41789 3.96161 0.273713 2.55074 0.273713C1.14418 0.273713 0 1.41359 0 2.82445V18.1246C0 22.3486 3.42393 25.7768 7.65223 25.7768H17.8552C22.0792 25.7768 25.5074 22.3529 25.5074 18.1246C25.5031 13.9006 22.0792 10.4767 17.8509 10.4767ZM17.8509 20.6796H7.65223C6.24136 20.6796 5.10148 19.5398 5.10148 18.1289C5.10148 16.718 6.24136 15.5782 7.65223 15.5782H17.8509C19.2575 15.5782 20.4016 16.718 20.4016 18.1289C20.4016 19.5355 19.2618 20.6796 17.8509 20.6796Z" fill="white"/>
                    <path d="M48.4554 10.4767H38.2568C34.0328 10.4767 30.6046 13.9006 30.6046 18.1289C30.6046 22.3529 34.0285 25.7811 38.2568 25.7811H48.4598C52.6837 25.7811 56.112 22.3572 56.112 18.1289C56.1077 13.9006 52.6837 10.4767 48.4554 10.4767ZM48.4554 20.6796H38.2568C36.8502 20.6796 35.706 19.5398 35.706 18.1289C35.706 16.718 36.8459 15.5782 38.2568 15.5782H48.4554C49.862 15.5782 51.0062 16.718 51.0062 18.1289C51.0062 19.5355 49.8663 20.6796 48.4554 20.6796Z" fill="white"/>
                    <path d="M84.1615 20.6796H68.913C67.5064 20.6796 66.3623 19.5398 66.3623 18.1289C66.3623 16.7223 67.5021 15.5782 68.913 15.5782H84.1615C84.8799 15.5782 85.5294 15.2771 85.9939 14.7953C86.437 14.3351 86.7123 13.7156 86.7123 13.0274C86.7123 11.6166 85.5724 10.4767 84.1615 10.4767H68.9087C64.6847 10.4767 61.2565 13.9006 61.2565 18.1289C61.2565 22.3529 64.6804 25.7811 68.9087 25.7811H84.1572C85.5638 25.7811 86.708 24.6413 86.708 23.2304C86.708 22.5422 86.4327 21.9185 85.9896 21.4625C85.5294 20.9807 84.8842 20.6796 84.1615 20.6796Z" fill="white"/>
                    <path d="M117.338 18.2579C117.338 18.2149 117.343 18.1719 117.343 18.1289C117.343 13.9049 113.919 10.4767 109.69 10.4767H99.4875C98.5928 10.4767 97.7368 10.6401 96.9368 10.9197V2.82445H96.9239C96.9239 1.41359 95.784 0.273713 94.3731 0.273713C92.9666 0.273713 91.8224 1.41359 91.8224 2.82445H91.8095V23.2261C91.8095 24.6326 92.9493 25.7768 94.3602 25.7768C95.0699 25.7768 95.7152 25.4843 96.1754 25.0155C96.6271 24.5552 96.9109 23.9229 96.9109 23.2261H96.9368V18.1289C96.9368 16.718 98.0766 15.5782 99.4875 15.5782H109.686C111.084 15.5782 112.22 16.7051 112.233 18.1031H112.202V23.0368C112.198 23.1013 112.181 23.1659 112.181 23.2347C112.181 23.9444 112.473 24.5853 112.942 25.0499C113.403 25.5058 114.035 25.7854 114.732 25.7854C116.138 25.7854 117.282 24.6456 117.282 23.2347C117.291 23.2261 117.317 19.4064 117.338 18.2579Z" fill="white"/>
                    <path d="M175.988 10.4767C175.279 10.4767 174.633 10.7692 174.173 11.238C173.721 11.6983 173.438 12.3306 173.438 13.0274H173.412V18.1289C173.412 19.5355 172.268 20.6796 170.861 20.6796H160.662C159.264 20.6796 158.129 19.5527 158.116 18.1547H158.146V13.2253C158.15 13.1608 158.167 13.0962 158.167 13.0274C158.167 12.3177 157.875 11.6768 157.406 11.2122C156.946 10.7563 156.314 10.4767 155.617 10.4767C154.206 10.4767 153.066 11.6166 153.066 13.0274H153.019V17.9999C153.019 18.0429 153.014 18.0859 153.014 18.1289C153.014 22.3529 156.438 25.7811 160.667 25.7811H170.87C171.764 25.7811 172.62 25.6177 173.42 25.3381V33.4334H173.433C173.433 34.8399 174.573 35.9841 175.984 35.9841C177.391 35.9841 178.535 34.8442 178.535 33.4334H178.548V13.0274C178.539 11.6166 177.395 10.4767 175.988 10.4767Z" fill="white"/>
                    <path d="M147.973 13.0274H147.926C147.926 11.6209 146.786 10.4767 145.375 10.4767C144.046 10.4767 142.966 11.5004 142.846 12.7951C142.837 12.8726 142.824 12.9457 142.824 13.0231C142.824 13.1005 142.841 13.178 142.846 13.2511C142.73 14.5501 141.65 15.5696 140.317 15.5696C140.299 15.5696 140.286 15.5653 140.269 15.5653V15.5696H127.533V2.82445H127.52C127.52 1.41359 126.38 0.273713 124.969 0.273713C123.562 0.273713 122.418 1.41789 122.418 2.82445H122.405V23.2261C122.405 24.6369 123.545 25.7768 124.956 25.7768C126.363 25.7768 127.507 24.6326 127.507 23.2261H127.533V20.6753H140.329C141.577 20.6796 142.609 21.5786 142.829 22.7658C142.803 22.9164 142.781 23.0669 142.781 23.2261C142.781 23.3852 142.798 23.5358 142.829 23.6863C143.044 24.8735 144.08 25.7768 145.332 25.7768C146.739 25.7768 147.883 24.6326 147.883 23.2261H147.977C147.977 21.2646 147.233 19.4795 146.016 18.1246C147.229 16.774 147.973 14.9889 147.973 13.0274Z" fill="white"/>
                    <path d="M183.658 10.7003C180.711 10.7003 178.315 8.30446 178.315 5.35799C178.315 2.41152 180.711 0.015625 183.658 0.015625C186.604 0.015625 189 2.41152 189 5.35799C189 8.30446 186.604 10.7003 183.658 10.7003ZM183.658 0.875909C181.184 0.875909 179.176 2.88467 179.176 5.35799C179.176 7.8313 181.184 9.84007 183.658 9.84007C186.127 9.84007 188.14 7.8313 188.14 5.35799C188.14 2.88467 186.127 0.875909 183.658 0.875909Z" fill="white"/>
                    <path d="M186.204 7.8141H184.613L183.236 5.96019H182.634V7.8141H181.339V2.75993H183.524C183.821 2.75993 184.079 2.77714 184.294 2.81155C184.509 2.84596 184.712 2.91908 184.897 3.03092C185.086 3.14276 185.236 3.28901 185.348 3.46967C185.46 3.65033 185.516 3.874 185.516 4.14499C185.516 4.51921 185.43 4.82461 185.258 5.05689C185.086 5.29347 184.836 5.48703 184.518 5.64188L186.204 7.8141ZM184.17 4.30844C184.17 4.1837 184.144 4.07187 184.092 3.98154C184.041 3.89121 183.95 3.81808 183.825 3.76646C183.735 3.73205 183.632 3.70624 183.516 3.70194C183.4 3.69334 183.262 3.68904 183.107 3.68904H182.634V5.04829H183.034C183.24 5.04829 183.417 5.03968 183.559 5.01818C183.701 4.99667 183.817 4.95366 183.912 4.88053C184.002 4.81171 184.066 4.73428 184.109 4.64826C184.148 4.56653 184.17 4.45039 184.17 4.30844Z" fill="white"/>
                </svg>  
                .home-about__preview-images 
                    .home-about__preview-image
                        img(src="assets/img/home/about/img.jpg", alt="home-about")
                    .home-about__preview-video 
                        .home-about__preview-video-image
                            img(src="assets/img/home/about/video-preview.jpg", alt="video-preview")
                            span.home-about__preview-video-icon 
                                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                </svg>
                        p.home-about__preview-video-title Интервью  для телеканала Москва24
            .home-about__text-block 
                span.home-about__section-title о нас
                p.home-about__title Это мы произвели первую баню-бочку в России и продолжаем развивать это направление, изобретая новые решения для комфортного загородно отдыха.
                p.home-about__name Иван Селиванов
                p.home-about__post Основатель Bochky®
                .home-about__contacts 
                    p.home-about__contacts-title Следите за нами в социальных сетях: 
                    .home-about__contacts-socials 
                        a(href="#" target="_blank").social.social-vk
                            .social-text Вконтакте
                            .social-icon 
                                <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1456 16C5.38481 16 0.387896 9.99399 0.179688 0H4.56808C4.71222 7.33533 7.94737 10.4424 10.5099 11.0831V0H14.6422V6.32633C17.1728 6.05405 19.8311 3.17117 20.728 0H24.8602C24.1715 3.90791 21.2886 6.79079 19.2386 7.97598C21.2886 8.93694 24.5721 11.4515 25.8213 16H21.2726C20.2956 12.957 17.8614 10.6026 14.6422 10.2823V16H14.1456Z" fill="white"/>
                                </svg>
                        a(href="#" target="_blank").social.social-tg
                            .social-text telegram
                            .social-icon 
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4116 0.137214C13.7814 0.312424 6.66451 2.37152 0.869632 4.03627C0.408366 4.18236 0.0751184 4.55604 0.00972751 4.96674C-0.0556634 5.37745 0.216721 5.72993 0.583547 5.83312C0.896801 5.9289 4.03752 6.8354 4.03752 6.8354L4.13084 12.0952L7.37882 10.1818L4.81568 6.41831L11.2 4.13636L5.83077 7.60805L7.37882 9.92086C7.46961 10.0383 9.36449 12.9238 9.50068 13.1C9.72767 13.3938 10.0745 13.9664 10.2888 13.996C10.6638 14.0479 11.1205 13.5864 11.4038 12.8385C11.679 12.142 13.5433 7.31031 15.937 0.872825C16.2121 0.176309 15.5648 -0.22802 14.4116 0.137214Z" fill="white"/>
                                </svg>
                        a(href="#" target="_blank").social.social-youtube
                            .social-text youtube
                            .social-icon 
                                <svg width="31" height="22" viewBox="0 0 31 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91718 0.294719C12.9645 -0.0982397 18.0349 -0.0982394 23.0821 0.294719L26.4726 0.558684C28.3611 0.705713 29.906 2.11421 30.2182 3.9735C30.9993 8.62559 30.9993 13.3744 30.2182 18.0265C29.906 19.8858 28.3611 21.2943 26.4726 21.4413L23.0821 21.7053C18.0349 22.0982 12.9645 22.0982 7.91718 21.7053L4.52672 21.4413C2.63823 21.2943 1.0933 19.8858 0.781126 18.0265C4.14103e-05 13.3744 4.14103e-05 8.62559 0.781126 3.9735C1.0933 2.11421 2.63823 0.705713 4.52672 0.558684L7.91718 0.294719ZM12.4734 14.7195V7.28052C12.4734 6.92939 12.8583 6.71251 13.1609 6.89316L19.3902 10.6126C19.6841 10.7881 19.6841 11.2119 19.3902 11.3874L13.1609 15.1068C12.8583 15.2875 12.4734 15.0706 12.4734 14.7195Z" fill="white"/>
                                </svg>