mixin home-special-offers()
    .home-special-offers
        .home-special-offers__inner.container
            h3 Спецпредложение
            .home-special-offers__swiper
                .swiper-wrapper 
                    .swiper-slide.home-special-offers__item 
                        .home-special-offers__item-img 
                            img(src="assets/img/special-offers/img.jpg", alt="special-offers")
                        .home-special-offers__item-content 
                            .home-special-offers__item-content-text
                                p.home-special-offers__item-content-date до 12 сентября 2025
                                p.home-special-offers__item-content-title Хозяйственная постройка в подарок при заказе 10 бань-бочек. 
                            a(href="#").link 
                                span.link-text подробнее
                                span.link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#fff" stroke-linecap="round"/>
                                    </svg> 
                    .swiper-slide.home-special-offers__item 
                        .home-special-offers__item-img 
                            img(src="assets/img/special-offers/img.jpg", alt="special-offers")
                        .home-special-offers__item-content 
                            .home-special-offers__item-content-text
                                p.home-special-offers__item-content-date до 12 сентября 2025
                                p.home-special-offers__item-content-title Хозяйственная постройка в подарок при заказе 10 бань-бочек. 
                            a(href="#").link 
                                span.link-text подробнее
                                span.link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#fff" stroke-linecap="round"/>
                                    </svg> 
                    .swiper-slide.home-special-offers__item 
                        .home-special-offers__item-img 
                            img(src="assets/img/special-offers/img.jpg", alt="special-offers")
                        .home-special-offers__item-content 
                            .home-special-offers__item-content-text
                                p.home-special-offers__item-content-date до 12 сентября 2025
                                p.home-special-offers__item-content-title Хозяйственная постройка в подарок при заказе 10 бань-бочек. 
                            a(href="#").link 
                                span.link-text подробнее
                                span.link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#fff" stroke-linecap="round"/>
                                    </svg> 
                    .swiper-slide.home-special-offers__item 
                        .home-special-offers__item-img 
                            img(src="assets/img/special-offers/img.jpg", alt="special-offers")
                        .home-special-offers__item-content 
                            .home-special-offers__item-content-text
                                p.home-special-offers__item-content-date до 12 сентября 2025
                                p.home-special-offers__item-content-title Хозяйственная постройка в подарок при заказе 10 бань-бочек. 
                            a(href="#").link 
                                span.link-text подробнее
                                span.link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#fff" stroke-linecap="round"/>
                                    </svg> 
                .navigation 
                    button.swiper-btn.home-special-offers-prev(aria-label='Кнопка слайдера назад')
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 11L1.1458 6.75258C0.690475 6.35417 0.690475 5.64583 1.1458 5.24742L6 1" stroke="white" stroke-linecap="round"/>
                        </svg>
                    button.swiper-btn.home-special-offers-next(aria-label='Кнопка слайдера вперед') 
                        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="white" stroke-linecap="round"/>
                        </svg>

