mixin home-directions()
    .home-directions
        .home-directions__inner.container 
            a(href="#").home-directions__item
                .home-directions__item-img  
                    img(src="assets/img/home/directions/1.jpg", alt="direction")
                .home-directions__item-content 
                    p.home-directions__item-title Компания
                    .home-directions__item-bottom 
                       p.home-directions__item-descr Узнать о ценностях и миссии компании — нам есть что рассказать за 15 лет
                       button.btn-link 
                            span.btn-link-text подробнее
                            span.btn-link-icon
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                </svg>
            a(href="#").home-directions__item
                .home-directions__item-img  
                    img(src="assets/img/home/directions/2.jpg", alt="direction")
                .home-directions__item-content 
                    p.home-directions__item-title Производство
                    .home-directions__item-bottom 
                       p.home-directions__item-descr Узнать о технологиях почему мы лучшие на рынке
                       button.btn-link 
                            span.btn-link-text подробнее
                            span.btn-link-icon
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                </svg>