@import "./variables.scss";

@mixin h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 96%;
  letter-spacing: -2px;
  @media (max-width: $tab) {
    font-size: 36px;
    letter-spacing: -1px;
  }
}
@mixin h2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 106%;
  letter-spacing: -2px;
  @media (max-width: $tab) {
    font-size: 32px;
    letter-spacing: -1px;
  }
}
@mixin h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 106%;
  letter-spacing: -1px;
  @media (max-width: $tab) {
    font-size: 30px;
    letter-spacing: -1px;
  }
}
@mixin h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 106%;
  letter-spacing: -1px;
  @media (max-width: $tab) {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 115%;
  }
}
@mixin h5 {
  font-weight: 500;
  font-size: 32px;
  line-height: 106%;
  letter-spacing: -1px;
  @media (max-width: $tab) {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 115%;
  }
}
@mixin h6 {
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  letter-spacing: -1px;
  @media (max-width: $tab) {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 115%;
  }
}
@mixin display-xl {
  font-weight: 500;
  font-size: 64px;
  line-height: 96%;
  letter-spacing: -2px;
}
@mixin display-l {
  font-weight: 500;
  font-size: 56px;
  line-height: 96%;
  letter-spacing: -2px;
}
@mixin body-xl {
  font-weight: 500;
  font-size: 24px;
  line-height: 128%;
}
@mixin body-l {
  font-weight: 500;
  font-size: 18px;
  line-height: 128%;
}
@mixin body-mb {
  font-weight: 600;
  font-size: 16px;
  line-height: 128%;
}
@mixin body-m {
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
}
@mixin body-sb {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
}
@mixin body-s {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
}
@mixin body-xs {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
}
@mixin descr-m {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  text-transform: uppercase;
}
@mixin descr-s {
  font-weight: 500;
  font-size: 12px;
  line-height: 115%;
  text-transform: uppercase;
}
@mixin descr-xs {
  font-weight: 500;
  font-size: 10px;
  line-height: 80%;
  text-transform: uppercase;
}
