mixin home-bathhouse()
    .home-bathhouse
        .home-bathhouse__inner.container.tabs-wrapper 
            h3 Бани-бочки
            .home-bathhouse__content 
                .home-bathhouse__tabs 
                    button.home-bathhouse__tab.tab(data-tab='0')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Круглые 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='1')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Квадратные 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='2')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Окто 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='3')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Хилл-хаус 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='4')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Овальные 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='5')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Квадратно-овальные 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='6')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Квадро-хаус 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='7')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Би-хаус 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='8')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Викинг 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                    button.home-bathhouse__tab.tab(data-tab='9')
                        span.home-bathhouse__tab-content
                            span.home-bathhouse__tab-img 
                                img(src="assets/img/bathhouse/img.jpg", alt="bathhouse")
                            span.home-bathhouse__tab-title Европа 
                        span.home-bathhouse__tab-btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                            </svg>
                .home-bathhouse__tab-contents 
                    .sticky-block
                        .home-bathhouse__tab-content.tab-content(data-tab='0')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня круглая
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='1')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Квадратная
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='2')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Окто
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='3')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Хилл-хаус
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='4')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Овальная
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='5')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Квадратно-овальная
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='6')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Квадро-хаус
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='7')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            a(href="#").home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Би-хаус
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='8')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Викинг
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>
                        .home-bathhouse__tab-content.tab-content(data-tab='9')
                            .home-bathhouse__tab-content-img 
                                img(src="assets/img/bathhouse/content.jpg", width='888' height='548' alt="bathhouse")
                            button.home-bathhouse__tab-content-video.btn-video 
                                span.home-bathhouse__tab-content-video-title.btn-video-text видеообзор
                                span.home-bathhouse__tab-content-video-icon.btn-video-icon
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.75 7.96875C20.0833 9.3159 20.0833 12.6841 17.75 14.0312L5.75 20.959C3.41667 22.3061 0.499999 20.622 0.499999 17.9277L0.5 4.07226C0.5 1.37796 3.41667 -0.306136 5.75 1.04101L17.75 7.96875Z" stroke="white"/>
                                    </svg>
                            p.home-bathhouse__tab-content-title Баня Европа
                            a(href="#").home-bathhouse__tab-content-detailed.btn-link 
                                span.home-bathhouse__tab-content-detailed-title.btn-link-text подробнее
                                span.home-bathhouse__tab-content-detailed-icon.btn-link-icon
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.14258 11L5.99678 6.75258C6.4521 6.35417 6.4521 5.64583 5.99678 5.24742L1.14258 1" stroke="#493F39" stroke-linecap="round"/>
                                    </svg>

