mixin home-productions()
    .home-productions
        .home-productions__inner.container 
            h3 Наша продукция
            .home-productions__list     
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Дачные дома'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Беседки'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Гриль дома'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Гаражи <br>и навесы'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Хоз. постройки'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Купели и чаны'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Печи для бани'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Оригинальные изделия'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Мебель <br>и аксессуары'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Дрова <br>и брикеты'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Пиломатериалы'})
                +production-card({img: 'assets/img/productions/1.jpg', title: 'Масла для древесины'})

