mixin home-team()
    .home-team
        .home-team__inner
            h3.home-team__title.container  250+
            p.home-team__descr.container  Сотрудников каждый день работают, чтобы сделать для вас лучший продукт для души и тела
            .home-team__list.marquee-wrapper
                .marquee
                    .marquee__group
                        .home-team__img
                            img(src="assets/img/home/team/1.jpg", alt="team")
                        .home-team__img
                            img(src="assets/img/home/team/2.jpg", alt="team")
                        .home-team__img
                            img(src="assets/img/home/team/3.jpg", alt="team")
                        .home-team__img
                            img(src="assets/img/home/team/1.jpg", alt="team")
                        .home-team__img
                            img(src="assets/img/home/team/2.jpg", alt="team")
                        .home-team__img
                            img(src="assets/img/home/team/3.jpg", alt="team")
            .home-team__letter
                img(src="assets/img/icons/letter.svg", alt="letter")